asgiref==3.2.10
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
config==0.5.0.post0
coreapi==2.3.3
coreschema==0.0.4
dj-config-url==0.1.1
dj-database-url==0.5.0
Django==3.1
django-ckeditor-5==0.0.12
django-cors-headers==3.7.0
django-filter==2.4.0
django-material-admin==1.7.16
djangorestframework==3.12.4
docutils==0.16
entrypoints==0.3
future==0.18.2
google-api-python-client==1.7.12
google-auth==1.28.0
google-auth-httplib2==0.1.0
gunicorn==20.1.0
httplib2==0.19.1
idna==2.8
itypes==1.2.0
Jinja2==2.11.3
keyring==18.0.1
MarkupSafe==1.1.1
numpy==1.19.5
olefile==0.46
Pillow==8.0.1
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.7.4
pyparsing==2.4.7
python-decouple==3.1
pytz==2019.3
PyYAML==5.3.1
requests==2.22.0
rsa==4.7.2
six==1.15.0
sqlparse==0.4.1
transliterate==1.10.2
uritemplate==3.0.1
urllib3==1.25.11
whitenoise==5.2.0
